[![cloudevel](Imagenes/cloudevel.png)](https://cloudevel.com)

 # Tipos y valores básicos.

## Tipado dinámico e inferencia de tipo.

Javascript es un lenguaje que no requiere que se defina el tipo de dato, sino que lo infiere a través de su sintaxis.

## Tipos de datos y valores básicos en *Javascript*.

* ```Number```.
* ```String```.
* ```Boolean```.
* ```Symbol```.
* El valor ```null```.

## Datos de tipo numérico.
*Javascript* sólo identifica a un tipo de dato numérico ```Number```. No hay diferencia entre números enteros y números con decimales.

**Ejemplos:**

In [ ]:
123.4;

In [ ]:
12.34 + 25;

## Cadenas de caracteres.
En *Javascipt* las cadenas de caracteres son compatibles con el formato [*Unicode*](https://unicode-table.com/es/) y están delimitadas ya sea por comillas ```"``` o apóstrofes ```'```.

**Ejemplos:**

In [ ]:
'Hola';

In [ ]:
'Hola "amigo"';

## Caracteres de escape.

*Javascript* permite incluir caracteres especiales mediante lo que conoce como un caracter de escape el cual corresponde a la diagonal invertida ```\```.

**Ejemplo:**

La siguiente celda incluye en texto el caracter  ```'```, y para evitar confusiones, dicho caracter será representdo mediante los caracteres ```\'```.

In [ ]:
"McDonald's";

## Booleanos.

Los elementos de tipo booleanos sólo pueden ser de la siguiente forma:
* ```true``` para verdadero.
* ```false``` para falso.
Los valores booleanos por lo general son el resultado de la ejecución de expresiones lógicas.

## El dato ```null```.

El dato ```null``` expresa la ausencia de valores numéricos, booleanos o de cadenas de caracteres. Este valor correspone a la nada.

## El dato ```undefined```.

Se utiliza para definir variables a las que posteriormente se le asignará un valor.

**Ejemplo:**

* La siguiente celda definirá a la variable ```x```, pero no le asignará un valor. El valor pordefecto será ```undefined```.

In [ ]:
let x;

**Nota:** ```undefined``` no es desplegado e las notebooks de Jupyter.

In [ ]:
x;

* La función ```console.log()``` permite deplegar valores en la consola y permite ver aquellos correspondientes ```undefined```.

In [ ]:
console.log(x);

# Funciones de transformación de tipo.

Es posible  transformar a un dato de cierto tipo a otro que sea compatible, mediante las siguientes funciones:
* ```String()``` convierte a cadena de caracteres el valor que se le ingresa como argumento.
* ```Boolean()``` tansforma n un valor en un booleano lo que se ingresa como argumento. Cualquier cadena de caracteres o valor distinto de ```0``` corresponde a  ```true```. Tanto```0``` como ```undefined``` y ```null```serán interpretados como ```false```.
* ```Number()``` convierte a un valor numéricos a un cadena de caracteres si ésta representa a un número. En caso de que no represente a un número, regresará el valor ```NaN```.
* ```parseInt()``` convierte en un entero a un número o  a la representaciónde un número de una cadena de  caracteres, turncándolo.
* ```parseFloat()``` convierte en un número de punto flotante (con decimales) a un número entero y  a la representaciónde un número de una cadena de  caracteres.

**Ejemplos:**

* La siguiente celda regresará la cadena de caracteres ```'12'``` a partir del número ```12``` que se ingresa como argumento a la función ```String()```.

In [ ]:
String(12);

* La siguiente celda regresará la cadena de caracteres ```'true'``` a partir del valor ```true``` que se ingresa como argumento a la función ```String()```.

In [ ]:
String(true);

* La siguiente celda regresará el número ```23``` a partir de la cadena de caracteres  ```"23"``` que se ingresa como argumento a la función ```Number()```.

In [ ]:
Number("23");

* La siguiente celda regresará el valor ```NaN``` a partir de la cadena de caracteres  ```"Hola"``` que se ingresa como argumento a la función ```Number()```.

In [ ]:
Number("Hola");

* Las siguiente celdas regresarán el valor ```true``` al usar la función ```Boolean()```.

In [ ]:
Boolean(12);

In [ ]:
Boolean("Hola");

* Las siguiente celda regresarán el valor ```false``` al ingresar ```0``` como argumento para la función ```Boolean()```.

In [ ]:
Boolean(0);

* Las siguiente celda regresarán el valor ```true``` al ingresar la cadena de caracteres```"0"``` como argumento para la función ```Boolean()```. Esto se debe a que contiene un caracter que representa a cero, pero no esl valor numérico de cero.

In [ ]:
Boolean("0");

* Las siguiente celda regresarán el valor ```false``` al ingresar ```undefined``` como argumento para la función ```Boolean()```.

In [ ]:
Boolean(undefined);

* La siguiente celda regresará el valor ```false``` al ingresar ```null``` como argumento para la función ```Boolean()```.

In [ ]:
Boolean(null);

* La siguiente celdá truncará al número ```12.8``` que se ingresa como argumento y regresará al número entero ```12``` usandfo la función  ```parseInt()```.

In [ ]:
parseInt(12.8);

* La siguiente celdá truncará al número ```12.3``` representado en una cadena de caracteres que se ingresa como argumento y regresará al número entero ```12``` usandfo la función  ```parseInt()```.

In [ ]:
parseInt("12.3");

* La siguiente celdá truncará a la cadena de caracteres que se ingresa como argumento y regresará al número entero ```2``` usando la función  ```parseInt()```.

In [ ]:
parseInt("2 + 2");

* La siguiente celdá truncará a la cadena de caracteres que se ingresa como argumento y regresará al número entero ```8``` usando la función  ```parseInt()```.

In [ ]:
parseInt("8 botellas");

* La siguiente celdá truncará a la cadena de caracteres que se ingresa como argumento y regresará el valor ```NaN``` usando la función  ```parseInt()```. Esto se debe a que la cadena mo empieza con la representación de un número.

In [ ]:
parseInt("botellas 8");

* La siguiente celdá truncará a la cadena de caracteres que se ingresa como argumento y regresará al número entero ```8.23``` usando la función  ```parseFloat()```.

In [ ]:
parseFloat("8.23 botellas");

* La siguiente celdá truncará a la cadena de caracteres que se ingresa como argumento y regresará el valor ```NaN``` usando la función  ```parseFloat()```. Esto se debe a que la cadena mo empieza con la representación de un número.

In [ ]:
parseInt("botellas 8");

# Tipado no estricto.

*Javascript* es un lenguaje de tipado no estricto. Es decir que si se encuentra con un valor de tipo de cadena de caracteres que represente un número, puede realizar con éste operaciones con resultados de distintos tipos.

Es posible realizar algunas operaciones entre números y cadenas de caracteres.

**Ejemplos:**

* La siguiente celda regresará una cadena de caracteres que convierte al valor entero ```5``` en un caracter y lo concatena con la cadena ```"5"``` que estás a la izquierda del operador ```+ ```.

In [ ]:
"5" + 5;

* La siguiente celda regresará un número al convertir a la cadena ```"5"``` en el número ```5``` y multiplicarla por el número ```5``` que está a la izquierda del operador ```*```.

In [ ]:
5 * "5";

In [ ]:
"5" * 5;

* La siguiente celda regresará una cadena de caracteres que convierte al valor entero ```5``` en un caracter y lo concatena con la cadena ```"5"``` que estás a la derecha del operador ```+ ```.

In [ ]:
5 + "Hola";

* La siguiente celda regresará ```NaN```, debido a que la cadena de caracteres no contiene una representación de un número.

In [ ]:
5 * "Hola";

## La función ``` typeof()```.

Esta función nos permite obtener el tipo de dato que se utiliza.

**Ejemplos:**

* las siguientes celdas deplegarán el tipo de dato que se ingresa como argumento a la función ```typeof()```.

In [ ]:
typeof(1);

In [ ]:
typeof({});

In [ ]:
typeof(true);

In [ ]:
typeof('Hola');

In [ ]:
typeof(null);

In [ ]:
typeof(undefined);

In [ ]:
typeof([1, 2, 4]);

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2020.</p>